*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ********* Section farbig ****** */

.section1{
    background-color: red;
}


.section2{
    background-color: blue;
}
.section3{
    background-color: green;
}

.section4{
    background-color: purple;
}

.section5{
    background-color: yellow;
}


main{
    padding: 10px;
    height: 150px;
    display: grid;
               /* * 4 Spalten */
    grid-template-columns: 1fr 1fr 1fr 1fr; 
                /* * 3 Zeilen */
    grid-template-rows: 1fr 1fr 1fr;

    row-gap: 10px;
    column-gap: 10px;

    /* * Area/Matrix Aufteilung */
    grid-template-areas:
  " red red blue blue"
  "green purple purple purple"
  "yellow yellow yellow yellow"

  

}


.section1{
    grid-area: red;

}

.section2{
    grid-area: blue;

}

.section3{
    grid-area: green;

}   

.section4{
    grid-area: purple;

}

.section5{
    grid-area: yellow;
    

}